<?php
/**
 *  Created by java2php on ${date}.
 */
namespace com\zhubajie\riskcontrol\api\service\order;

#foreach ($use in ${uses})##
use $use.getName();
#end##


interface ${interface.getName()} {

#foreach($method in $methods)
#if(${method.getComment()})
/**${method.getComment().getContent()}*/
#end
public function ${method.getName}($)
#end

}