<?php

namespace ${namespace};

/**
*  Created by codeconverter on ${date}.
*/
class BaseRequest{

    public $sid;

    function __construct() {
    }

    /**
    * @param string $request_id;
    */
    function setRequestId($request_id) {
       $this->sid = $request_id;
    }

}