<?php
namespace ${namespace};

/**
 *  Created by java2php on ${date}.
*/
class Request extends BaseRequest{

    public $data;

    function __construct($data) {
        $this->data = $data;
        parent::__construct();
    }
}